alias ls='ls --color'
alias vim='nvim'
alias c='clear'
alias g='git'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias k='kubectl'
alias kns='kubens'
alias kctx='kubectx'
alias cc='claude --dangerously-skip-permissions --model opus --permission-mode plan'
alias ccd='claude --allow-dangerously-skip-permissions --model opus --permission-mode plan --effort xhigh'

# podman
alias docker='podman'
alias docker-compose='podman-compose'
